.content {
    padding: 3%;
    font-size: 1.8rem;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

/* Search containers */
.searchContainer h3 {
    padding: 0;
    margin: 10px 0px;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-weight: lighter;
    position: relative;
}
.searchContainer h3::after {
    content: '';
    width: 85px;
    height: 4px;
    background: #5d91e2;
    position: absolute;
    bottom: -15px;
    left: 0;
}

/*Search Containers > jobContainers  */
.searchOptions {
    display: flex;
    margin: 40px 0px;
    justify-content: space-between;
}
.searchOptions > *:not(div) {
    border-radius: 10px;
    outline: none;
    border: 1px solid #c4c4c4;
}
.searchOptions input {
    width: 70%;
    padding-left: 20px;
}
.searchOptions select {
    background: white;
    width: 20%;
    margin: 0px 2%;
}
.searchOptions select:after {
    background: none;
}

.searchOptions button {
    background: #5d91e2;
    border-radius: 10px;
    border: none;
    color: white;
    border-spacing: 2px;
    width: 10%;
    padding: 1%;
}

.jobsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.jobsGrid div {
    margin: 1.6%;
}

@media screen and (max-width: 790px) {
    .searchOptions {
        flex-direction: column;
    }
    .searchOptions input {
        width: 100%;
        padding: 10px 0px;
    }
    .searchOptions select {
        width: 100%;
        padding: 10px 0px;
        margin: 10px 0px;
    }
    .searchOptions button {
        width: 100%;
        padding: 10px 0px;
    }

    .jobsGrid {
        grid-template-columns: 1fr;
    }
}
